.uplot {
    display: inline-block;
    width: min-content;
    vertical-align: top;
    margin-bottom: 75px;
}

.wrapper {
    /* See also the `width` option in the `generatePlot` function within the script.ts file */
    max-width: 1400px;
    margin: auto;
}