.uplot {
    display: inline-block;
    width: min-content;
    vertical-align: top;
    margin-bottom: 75px;
}

p {
    margin: 0;
    padding: 10px;
}

button {
    position: absolute;
    left: 100px;
    top: 100px;
}

#content {
    text-align: center;
}